<main class="main-index">
    <section>
      <h2> Home</h2>
      <p>
        Welcome to <em>StockControl</em>, a simple inventory management
        application.
      </p>
    </section>
    <section>
      <h2>Record Counts</h2>
      <ul>
        <li>
          <strong>Items:</strong>
        </li>
      </ul>
    </section>
  </main>